<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Name:</label>
    <input type="text" formControlName="name" />
  </div>
  <div>
    <label>Email:</label>
    <input type="text" formControlName="email" />
  </div>
  <div>
    <label>Address:</label>
    <input type="text" formControlName="address" />
  </div>
  <div>
    <label>Phone No.:</label>
    <input type="number" formControlName="phone" />
  </div>
  <div>
    <label>Date Of Enquiry:</label>
    <input type="date" formControlName="dateOfEnquiry" />
  </div>
  <button type="submit" [disabled]="this.contactForm.invalid">Submit</button>
</form>
